version: "3.9"

services:
  db:
    image: postgres:latest
    container_name: postgres-db-usuario
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: db_usuario